.ball-wrapper {
	width: var(--ball-size);
	height: 250px;
	position: fixed;
	left: 50%;
	top: 35%;
	margin-left: -70px;
	z-index: 100;
	transform: scale(1);
	transition: all 5s linear 0s;
}

.ball {
	width: var(--ball-size);
	height: var(--ball-size);
	border-radius: calc(var(--ball-size) / 2);
	background: var(--main-color);
	position: absolute;
	top: 0;	
	z-index: 11;
	animation: jump 1s infinite;
	cursor: pointer;
}

.ball::after {
	content: "";
	width: 80px; 
	height: 40px; 
	position: absolute;
	left: 30px;
	top: 10px;
	z-index: 10;
	border-radius: 40px / 20px;	
}

.ball-shadow {
	position: absolute;
	left: 50%;
	bottom: 0;
	z-index: 10;
	margin-left: -30px;
	width: 30px;
	height: 35px;
	background: rgba(20, 20, 20, .05);
	box-shadow: 0px 0 10px 20px rgba(20,20,20,.05);
	border-radius: 30px / 40px;	
	transform: scaleY(.3);
	animation: shrink 1s infinite;
}

@keyframes jump {
	0% {
		top: 0;
		animation-timing-function: ease-in;
	}
	50% {
		top: 140px;
		height: 70px;
		animation-timing-function: ease-out;
	}
	55% {
		top: 160px; 
		height: 60px; 
		border-radius: 35px / 30px;
		animation-timing-function: ease-in;
	}
	65% {
		top: 120px; 
		height: 70px; 
		border-radius: 35px;
		animation-timing-function: ease-out;
	}
	95% {
		top: 0;		
		animation-timing-function: ease-in;
	}
	100% {
		top: 0;
		animation-timing-function: ease-in;
	}
}

@keyframes shrink {
	0% {
		bottom: 0;
		margin-left: -30px;
		width: 30px;
		height: 35px;
		background: rgba(20, 20, 20, .1);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
		border-radius: 30px / 40px;
		animation-timing-function: ease-in;
	}
	50% {
		bottom: 30px;
		margin-left: -10px;
		width: 10px;
		height: 2px;
		background: rgba(20, 20, 20, .3);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.3);
		border-radius: 20px / 20px;
		animation-timing-function: ease-out;
	}
	100% {
		bottom: 0;
		margin-left: -30px;
		width: 30px;
		height: 35px;
		background: rgba(20, 20, 20, .1);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
		border-radius: 30px / 40px;
		animation-timing-function: ease-in;
	}
}
